@import 'reset';
@import 'colors';

html {
  font-family: "Verdana", sans-serif;
  font-size: 14pt;
  background-color: $mainBackground;
}

body {
  margin:0;
  padding:0;
}

// plain links that bold when hovered
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    font-weight: bold;
  }
}

::-webkit-scrollbar {
  display: none;
}
