@import 'base';

main {
  height: 100%;
  padding: 10px;
  background-color: $tempOK;
}


.temp {
  padding-bottom:1.0em;
}

.tempValue {
  font-size: 1.6em;
}

.pic {
  padding-bottom: 0.8em;
}

.pic-inner {

  img {
    max-width:350px;
    max-height:350px;
  }
}

.pic-container {
  height:100%;
  overflow: scroll;
}
