@import 'base';

main {
  height: 100%;
  padding: 10px;
  background-color: $tempOK;
}

.pic {
  padding-bottom: 0.8em;
}

.pic-inner {

  img {
    max-width: 350px;
    max-height: 350px;
  }
}

.pic-container {
  height: 100%;
  overflow: scroll;
}

input[type="password"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.4em;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px;
}

input[type="password"]:focus {
  outline: none;
}

input[type="submit"] {
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  padding: 10px 20px !important;
  margin-top: 5px;
  font-size: 14px !important;
  background-color: gainsboro;
  font-weight: bold;
  color: black;
}
