node_modules/
build/
.idea/
.DS_Store
new-vids
live-vids/
lastCheck.json
recordTemp.log
ec2-march-2014.pem
mock-motion-content/
re-encode.log
temps.json
server.log
basic-auth
upload.log
motion.log
.pass
.emailpass
*.swp
motion-files
